h1{
    text-align: center;
    padding-top:5px ;
    padding-bottom:20px ;
}
h1:hover{
    color: aqua;
}

.logo>img{
    width: 60px;
    margin-left: 47%;
    margin-top: 25px;
}

.row{
    justify-content: center;
    margin-top: 55px;
    flex-wrap: wrap;
    
}

.col-sm-3 >img{
    width: 100%; /* Chiếm toàn bộ chiều rộng container */
    height: 250px; /* Chiều cao cố định */
    object-fit: contain;  /* Đảm bảo không bị méo ảnh */
}


.col-sm-3{
  text-align: center;
  width: 250px;
  height: 325px;
  padding: 10px;
  height:  auto;
  
}


.col-sm-3:hover{
    
    transition: 300ms;
    transform-origin: top;
}




footer{
    height: 170px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #28242c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.col-sm-3:hover{
    transform: translateY(-20px);
    opacity: 0.8; 
    transition: 300ms;
    transform-origin: top;
}
.logo:hover{
    transform: translateY(-20px);
    opacity: 0.8; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.nav-link:hover{
    transform: translateY(-10px);
    opacity: 0.8; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.navbar-brand:hover{
    transform: translateY(-10px);
    opacity: 0.8; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

body {
    font-family: 'Roboto', sans-serif;
}

    .fa {
        padding-top: 10px;
        transition: transform 0.3s ease, opacity 0.3s ease; /* Hiệu ứng hover */
        width: 40px; /* Chiều rộng khung tròn */
        height: 40px; /* Chiều cao khung tròn */
        line-height: 40px; 
        text-align: center;
        border-radius: 50%; 
        background-color: #3b5998; 
        color: white;   
    }
    
    .fa-facebook {
        background-color: #3b5998;
    }
    
    .fa-twitter {
        background-color: #1da1f2;
    }
    
    .fa-youtube {
        background-color: #ff0000;
    }
    
    .fa:hover {
        transform: scale(1.2); /* Phóng to nhẹ khi hover */
        opacity: 0.8; /* Làm mờ nhẹ khi hover */
    }


.fa-youtube {
    background-color: #ff0000;
}

.fa:hover {
    transform: scale(1.2); /* Phóng to nhẹ khi hover */
    opacity: 0.8; /* Làm mờ nhẹ khi hover */
}

.special{
    background-color: #bcbdbc;
    margin-top: 30px;
    text-align: center;
}

h4{
    width: 100%;
    
    text-align: center;
}


.nav-link {
    color: white !important; /* Màu chữ */
    font-size: 17px !important;
}

.special> button{
    width: 55%;
}

.row> button{
    width: 55%;
}
 


